{% extends 'lmn/base.html' %}
{% load static %}
{% load social_share %}
{% block content %}

{% if show %}
  <h2 id="show-title">Notes for {{ show.artist.name }} at {{ show.venue.name }} on {{ show.show_date }}</h2>
{% else %}
  <h2>Latest Notes</h2>
{% endif %}

{% for note in notes %}

  <div id="note_{{ note.pk }}">
    <h3 class="note-title">{{ note.title }}</h3>

    <p class="show-info">
      <a href="{% url 'notes_for_show' show_pk=note.show.pk %}">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</a>
    </p>

    <p class="note-info">Posted on {{ note.posted_date }} by 
      <a class='user' href="{% url 'user_profile' user_pk=note.user.pk %}">{{ note.user.username }}</a>
    </p>

    <p class='note-text'>{{ note.text|truncatechars:100 }}</p>

    <h3>Photo</h3>
    {% if note.photo %}
        <img src="{{ note.photo.url }}">
    {% else %}
        <P>No photo uploaded</p>
    {% endif %}  
  </div> 
  <!DOCTYPE html>
<html>
<head>
<style>

.btn-group .button {
  background-color: #f2f8f3; /* Green */
  border: 1px solid rgb(19, 16, 233);
  color: rgb(20, 170, 240);
  padding: 1px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  float: inline-start;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #2420ec;
}
</style>
</head>
<body>

    <div class="btn-group">
<!-- If this is a list of notes for one show,
display link to add new note for that show. -->

{% if show %}
  <a href="{% url 'new_note' show_pk=show.pk %}" class="button">Add Your Own Notes For The Show</a>
{% endif %}
        <!-- Single quotes represent &#x27;t instead of ''  -->
        <button class="button">
        {% post_to_twitter "Checkout the notes for this show {{ note.show.artist.name }} at {{ note.show.venue.name }}" object_or_url "Share Show To Twitter" %}
        </button>

        <button class="button">
            {% post_to_facebook  object_or_url "Share Show To Facebook" %}
        </button>
</body>
  <hr>

{% empty %}
 <a href="{% url 'new_note' show_pk=show.pk %}" class="button">Add Your Own Notes For The Show</a>
  <p>No notes.</p>
{% endfor %}

{% endblock %}
