{% extends 'lmn/base.html' %}
{% load static %}
{% load social_share %}
{% block content %}


<h2 id="note-page-title">{{ note.show.artist.name }} at {{ note.show.venue.name }} by 
    <a href="{% url 'user_profile' user_pk=note.user.pk %}">{{ user.username }}</a>
</h2>

<p id="note-title"><b>{{ note.title }}</b></p>
<p id="note-text"><b>{{ note.text }}</b></p>

    <h3>Photo</h3>
    {% if note.photo %}
        <img src="{{ note.photo.url }}">
    {% else %}
        <P>No photo uploaded</p>
    {% endif %}



<!-- Messages, updates, errors from form -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p class="{{message.tags}}">{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}

{% if note.user.pk == user.pk %}

<!DOCTYPE html>
<html>
<head>
<style>
.btn-group .button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  display: block;
}

.btn-group .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #3e8e41;
}
</style>
</head>
<body>
    <div class="btn-group">
        {% if note.photo %}
            <button class="button">
                {% post_to_twitter "{{ note.text }} {{ note.photo.url }}" object_or_url "Send To Twitter" %}
            </button>
        {% else %}
            <button class="button">
                {% post_to_twitter "{{ note.text }}" object_or_url "Send To Twitter" %}
            </button>
        {% endif %}

        <button class="button">
            {% post_to_facebook object_or_url "Send To Facebook" %}
        </button>

        <button class="button">
            {% post_to_linkedin object_or_url "Send To LinkedIn" %}
        </button>

        <button class="button">
            {% save_to_pinterest object_or_url %}
        </button>

    <button>
        <a href="{% url 'edit_note' note_pk=note.pk %}" class="button">Edit Your Note </a>
    </button>

    <form action="{% url 'delete_note' note.pk %}" method="POST">
        {% csrf_token %}
        <button type=submit class="button">Delete</button>
    </form>
    <script src="{% static 'js/confirm_delete.js' %}"></script>
    </div>
</body>
{% add_pinterest_script %} 

{% endif %}

{% endblock %}
