db.sqlite3

# python-related
__pycache__
*.pyc

# ignore editor-specific files 
.vscode
.idea

# ignore virtual enviroments 
venv
env

#Google Cloud Files
app.yaml
.gcloudignore
cloud_sql_proxy_x64.exe
.env
image-upload-credentials.json
