db.sqlite3

# python-related
__pycache__
*.pyc

# ignore editor-specific files 
.vscode
.idea

# ignore virtual enviroments 
venv
env
.gcloudignore
app.yaml
cloud_sql_proxy_x64.exe
image-upload-credentials.json
