{% extends 'lmn/base.html' %}
{% block content %}

<h2>Artist List</h2>

<P>Artist Search</p>
  <form action="{% url 'artist_list' %}">
    {{ form }}
    <input type='submit' value='Search' class="btn btn-secondary">
  </form>


{% if search_term %}
  <h2 id='artist-list-title'>Artists matching '{{ search_term }}' 
    <a href="{% url 'artist_list' %}" id='clear_search'>(clear)</a>
  </h2>
{% else %}
  <h2 id='artist-list-title'>All artists</h2>
{% endif %}

<h2>Page Number: {{ artists.number }}</h2>

{% for artist in artists.object_list %}

  <div class="artist" id="artist_{{ artist.pk }}">
    <p>
      <a href="{% url 'artist_detail' artist_pk=artist.pk %}">{{ artist.name }}</a>
    </p>
    
    <p>See venues played, notes, and add your own 
      <a href="{% url 'venues_for_artist' artist_pk=artist.pk %}">{{ artist.name }} notes</a>
    </p>  
  </div>

{% empty %}
  
<p>No artists found</p>

{% endfor %}

<div>
  {% if search_term %}
    {% if artists.has_previous %}
    <!-- URL tag with the name of view. After is a url query string arguement -->
    <a href="{% url 'artist_list' %}?page={{ artists.previous_page_number }}&search_name={{ search_term }}">Previous Page</a>
    {% endif %}

    {% if artists.has_next %}
    <!-- search_name variable comes from view -->
    <a href="{% url 'artist_list' %}?page={{ artists.next_page_number }}&search_name={{ search_term }}">Next Page</a>
    {% endif %}
  {% else %}
    {% if artists.has_previous %}
    <!-- URL tag with the name of view. After is a url query string arguement -->
    <a href="{% url 'artist_list' %}?page={{ artists.previous_page_number }}">Previous Page</a>
    {% endif %}

    {% if artists.has_next %}
    <!-- search_name variable comes from view -->
    <a href="{% url 'artist_list' %}?page={{ artists.next_page_number }}">Next Page</a>
    {% endif %}
  {% endif %}

</div>

{% endblock %}
