{% extends 'lmn/base.html' %}
{% load static %}
{% block content %}


<h2 id="note-page-title">{{ note.show.artist.name }} at {{ note.show.venue.name }} by 
    <a href="{% url 'user_profile' user_pk=note.user.pk %}">{{ user.username }}</a>
</h2>

<p id="note-title"><b>{{ note.title}}</b></p>
<p id="note-text">{{ note.text }}</b>

<form action="{% url 'delete_notes' note.pk %}" method="POST">
   {% csrf_token %}
   <button type="submit" class="delete">Delete</button> 

</form>

<script src="{% static 'js/confirm_delete.js '%}"></script>


<form action="{% url 'edit_notes' note.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="edit">Edit</button>
</form>



{% endblock %}
