body {
  font-family: monospace;
  background: #444d4d;
  color: antiquewhite;
}

a {
  color: rgb(70, 193, 197);
}

#welcome-user-msg, #login-or-sign-up {
  position: absolute;
  right: 0px;
  padding-right: 10px;
}

.error {
  color: #e60c42;
  font-weight: bold;
}