body {
  margin: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #444d4d;
  background: linear-gradient(90deg,rgb(27, 1, 56) 35%, rgb(238, 218, 255) 100%);
  color: antiquewhite;
}


h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 5em;
  background-image: url("https://www.goodfreephotos.com/albums/germany/other-germany/concert-in-grafenhainchen-germany.jpg");
  background-blend-mode:multiply,50%;
  background-position: center;
  background-size: cover;
  color: black;
  border: 1px white solid;
  border-radius: 15px;
  position: relative;
  text-align: center;
}

div {
  background:rgba(87, 51, 5, .25) ;
  padding: 1em;
  margin: 0em;
  border-bottom:1px orange solid;  
}

a {
  color: darkorange;
  font-size: large;
  text-decoration: underline rgb(136, 75, 0);
}

#welcome-user-msg, #login-or-sign-up {
  position: absolute;
  right: 0px;
  padding-right: 10px;
  font-size: large;
  background:rgba(27, 1, 56, .25);
  border-radius: 5px;
  padding: 3px;
  padding-left: 15px;
}

.error {
  background-color: #b73f08;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  /* font-weight: bold; */
}

.button{
  font-size: small;
  margin: 2px;
  padding: 2px;
}

/* .button {
  background-color: #f2f7f7; 
  border: none;
  color: rgb(17, 16, 16);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} */
