{% extends 'lmn/base.html' %}
{% block content %}


<!-- A user's profile page.

Includes list of user's notes with title and preview of text.
Text truncated to 200 characters. 

user_profile is the user that this profile is about 
user is a variable provided to the template and is the current logged-in user 

-->

{% for message in messages %}
  <li>{{message}}</li>
{% endfor %}

{% if can_edit %}
<form action="{% url 'my_user_profile' %}">
  <button id="edit_profile_button" type="submit">Edit Profile</button>
</form>
{% endif %}

<h2 id=display_name>{% if user_details.display_name %}
  {{ user_details.display_name }}
  {% else %}
  {{ user_profile.username }}
  {% endif %}
</h2>

{% if user_details.location %}
<h4 id=location>Location: {{ user_details.location }}</h4>
{% endif %}

{% if user_details.favorite_genres %}
<h4 id=favorite_genres>Favorite genres:</h4>
<p>{{ user_details.favorite_genres }}</p>
{% endif %}

{% if user_details.bio %}
<h4>Bio:</h4>
<p>{{user_details.bio}}</p>
{% endif %}


<br>

{% if user_details.display_name %}
<h2 id='username_notes'>{{ user_details.display_name }}'s notes</h2>
{% else %}
<h2 id='username_notes'>{{ user_profile.username }}'s notes</h2>
{% endif %}


{% for note in notes %}

<div class='note' id="note_{{ note.pk }}">
  <h3 class="note_title">
    <a href="{% url 'note_detail' note_pk=note.pk %}">{{ note.title }}</a>
  </h3>

  <p class="note_info">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</p>
  <p class="note_text">{{ note.text|truncatechars:300 }}</p>
  <p class="note_posted_at">{{ note.posted_date }}</p>
</div>

{% empty %}

    <p id='no_records'>No notes.</p>

{% endfor %}


{% endblock %}
