{% extends 'lmn/base.html' %}
{% block content %}


<!-- A user's profile page for editing a user's own content-->

<h2 id='username_profile'>{{ user_profile.username }}'s Profile</h2>
<p>edit profile here</p>

<form method="POST" action="{% url 'my_user_profile' %}">
    <div>
      {% csrf_token %}
      {{ form.as_p }}
    </div>
    <input type='submit' value='Add Bio'>
  </form>

<h2 id='username_notes'>{{ user_profile.username }}'s Notes</h2>
{% for note in notes %}

<div class='note' id="note_{{ note.pk }}">
  <h3 class="note_title">
    <a href="{% url 'note_detail' note_pk=note.pk %}">{{ note.title }}</a>
  </h3>

  <p class="note_info">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</p>
  <p class="note_text">{{ note.text|truncatechars:300 }}</p>
  <p class="note_posted_at">{{ note.posted_date }}</p>
</div>

{% empty %}

    <p id='no_records'>No notes.</p>

{% endfor %}
{% endblock %}